<section class="login">
  <h1 class="text-3xl font-bold text-white text-center">Entrar</h1>
  <form>
    <div class="form-field">
      <mat-label class="text-white">Endereço de e-mail</mat-label>
      <mat-form-field class="custom-form-field" appearance="outline">
        <input
          type="tel"
          matInput
          placeholder="Digite seu endereço de e-mail"
        />
        <mat-icon class="icon" matSuffix>mail</mat-icon>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-label class="text-white">Sua senha</mat-label>
      <mat-form-field class="custom-form-field" appearance="outline">
        <input type="tel" matInput placeholder="Digite sua senha" />
        <mat-icon class="icon" matSuffix>lock</mat-icon>
      </mat-form-field>
    </div>

    <button mat-raised-button class="bg-purple w-full">Fazer login</button>
  </form>
</section>
