<section class="login">
  <h1 class="text-3xl font-bold text-white text-center">Entrar</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <mat-label class="text-white">Endereço de e-mail</mat-label>
      <mat-form-field class="custom-form-field" appearance="outline">
        <input
          type="text"
          matInput
          placeholder="Digite seu endereço de e-mail"
          required
          formControlName="username"
        />
        <mat-icon class="icon" matSuffix>mail</mat-icon>
        <mat-error *ngIf="hasError('username', 'required', form)">
          Campo <strong>Email</strong> obrigatório!
        </mat-error>
        <mat-error *ngIf="hasError('username', 'email', form)">
          <strong>E-mail</strong> inválido!
        </mat-error>
      </mat-form-field>
    </div>
    <div class="form-field">
      <mat-label class="text-white">Sua senha</mat-label>
      <mat-form-field class="custom-form-field" appearance="outline">
        <input
          [type]="hide ? 'text' : 'password'"
          matInput
          placeholder="Digite sua senha"
          required
          formControlName="password"
        />
        <mat-icon *ngIf="!hide" matSuffix (click)="hidePassword()"
          >lock</mat-icon
        >
        <mat-icon *ngIf="hide" matSuffix (click)="hidePassword()"
          >lock_open</mat-icon
        >
        <mat-error *ngIf="hasError('password', 'required', form)">
          Campo <strong>Senha</strong> obrigatório!
        </mat-error>
        <mat-hint
          *ngIf="!hasError('password', 'required', form) && validPassWord"
        >
          Campo <strong>E-mail</strong> ou <strong>Senha</strong> inválido
        </mat-hint>
      </mat-form-field>
    </div>

    <button
      type="submit"
      [disabled]="!form.valid || loading"
      mat-raised-button
      class="bg-purple w-full"
      [class.spinner]="loading"
    >
      Fazer login
    </button>

    <asl-google-signin-button
      type="standard"
      shape="square"
      theme="filled_blue"
      text="signin_with"
      locale="pt_BR"
      size="medium"
      logo_alignment="left"
      class="login__google"
    >
    </asl-google-signin-button>
  </form>
</section>
