.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .form-field {
    display: flex;
    flex-direction: column;

    .mat-form-field {
      min-width: 18.75rem;
    }

    mat-icon {
      color: #c1c1c4;
      cursor: pointer;
    }
  }

  .login__google {
    display: flex;
    justify-content: center;
    margin-block-start: 1rem;
  }
}
