@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/styles/components/custom-form-field";
@import "./assets/styles/components/custom-inputs-rules";
@import "./assets/styles/components/custom-button";
@import "./assets/styles/components/custom-snackbar";
@import "./assets/styles/components/custom-dialog";

html,
body {
  height: 100%;
  background-color: #121214;
  color: white;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: calc(100vw - (100vw - 100%));
}
